.supplement__page{
    background-color: rgb(243, 182, 126);
    min-height: 100vh;
}
.supplement__page .container{
    background-color: white;
    min-height: 100vh;
}
.CardWrapper{
    box-shadow: 7px 16px 13px 1px rgba(107,107,107,0.73);
-webkit-box-shadow: 7px 16px 13px 1px rgba(107,107,107,0.73);
-moz-box-shadow: 7px 16px 13px 1px rgba(107,107,107,0.73);
background-color: rgb(209, 209, 209);
transition: 1s;
color: black;
font-size: 1.3rem;
font-weight: bold;
}
.supplement__page .container .CardWrapper:hover{
    background-color: #777777;
    color: white;
}
