.home__categoryCard {
  border-radius: 3px;
  overflow: hidden;
  transition: 0.7s;
}
.home__categoryCard:hover {
  transform: translateY(-12px);
}
.home__categoryCard .cardImg {
  transition: 0.7s;
}
.home__categoryCard:hover .cardImg {
  transform: scale(1.1);
}
.title {
  color: #07a8ff;
}
.card-body {
  display: flex;
  min-height: 88px !important;
}
.card-body > div {
  margin: auto;
}
