.contactus {
  margin-top: 66px;
  background-color: #f8f9fa;
}
.contactus fieldset {
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 0 0.75em;
}
.contactus legend {
  float: none;
  width: auto;
  padding: 0 2px;
}
