.home__contactUs{
    /* background: rgb(166,240,204);
background: linear-gradient(4deg, rgba(166,240,204,1) 0%, rgba(93,207,137,1) 19%, rgba(55,57,55,1) 100%); */
/* background-image: url(../../assets/image/home/medical-contact-background2.jpg);
background-position: center top ;
background-repeat: no-repeat;
background-size: cover; */
}