.animated{
    /* display: flex;
    justify-content: center; */
    display: none;
} 
.head__animation:hover .section__header::after{
    width: 20%;
    
}
.section__header::after {
    content: "";
  display: block;
  width: 15%;
  margin: 1rem 0;
  height: 2px;
  background-color: red;
  transition: width 0.5s
  }
